body{
    background-color: rgb(203, 251, 251);
}
hr{
    border-color: gray;
    border-width: 4px;
    border-style: none;
    border-top-style:dotted ;
    width: 30%;
}
h1, h3{
    color: rgb(37, 221, 203);
}

.list{
    color: rgb(51, 229, 211);
}

#currentEducation{
    text-decoration:  underline;
    color: rgb(60, 230, 220);
}